 body {
     margin: 0;
     font: normal 75% Arial,  Helvetica,  sans-serif;
 }
 canvas {
/*     display:  block;
*/     vertical-align:  bottom;
 }
 /* ---- particles.js container ---- */ #particles-js {
     position: absolute;
     width:  100%;
     height:  100%;
     background-color:  #fff;
     background-image:  url("");
     background-repeat:  no-repeat;
     background-size:  cover;
     background-position:  50% 50%;
 }

body{
  background: transparent;
  padding-top: 10px;
} 

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid #BDFAD1;
	width: 16.5em; 
	width: 14ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(14, end),
	           blink-caret .5s step-end infinite alternate;
	    margin:0;
    padding:0;

}

h2 {
	font: bold 170% Consolas, Monaco, monospace;
	border-right: .1em solid #BDFAD1;
	width: 16.5em; 
	width: 40ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 6s steps(40, end),
	           blink-caret .5s step-end infinite alternate;
	-webkit-animation-delay:5s;
	animation-fill-mode:both;
	    margin:0;
    padding:0;
}

div {
/*	margin-top: -200px;
	margin-left: 50px;*/


}

.info {
	z-index: 1000;
/*	position: fixed;
	margin-top: -350px;
	padding-top: 100px;*/
	position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 75px;
}

nav {
	font: bold 160% Consolas, Monaco, monospace;

}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
        color: black;


}

a:hover {
	color: #BDFAD1;
}


